DATABASE_URL="postgresql://leetrank:leetrank-dev@localhost:5432/leetrank?schema=public"
JWT_SECRET="replace-with-openssl-rand-hex-32-output"
NODE_ENV="development"
API_PORT="4000"
CORS_ALLOWED_ORIGINS=""
LOG_LEVEL="info"
